<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок страницы</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>

<body>
    <div class="features">
        <h2>"У нас Вы найдете идеальный дом в Бурсе, Турция: просто, быстро и с удовольствием!"</h2>
        {% block content %}
        {% endblock %}
        <a href="/" class="bth btn-success btn-lg">Главная страница &raquo;</a>
        <a href="/news" class="bth btn-primart btn-lg">Новости &raquo;</a>
        <a href="/contact" class="bth btn-info btn-lg">Контакты &raquo;</a>
        <button class="btn btn-warning">На страницу про нас</button>
    <div class="container">
      <img src="{% static 'mainApp/image/baris.jpg' %}"
      class="img-thumbnail">

</body>
</html>